#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

configure/doxyparse::
	cmake -G "Unix Makefiles" -Dbuild_parse=ON

build/doxyparse::
	PATH=$(CURDIR)/debian/bin:$(PATH) make

clean::
	[ ! -f Makefile ] || $(MAKE) clean
	rm -f qtools/Makefile.qtools
